<section class="page-title text-dark gradient-bg section-skewed big-padding-bt" data-gradients="#0c5869,#61c4da">
   <div class="row-parallax-bg">
      <div class="parallax-wrapper">
         <div class="parallax-bg">
            <img src="/images/2.jpg" alt="">
         </div>
      </div>
      <div class="parallax-overlay"></div>
   </div>
   <div class="centrize">
          <div class="v-center">
            <div class="container">
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <div class="title text-center">
                    <h1>Hosts</h1>                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
</section>
<section class="section-skewed p-0">
   <div class="container">
      <div class="row">
         <ul id="filters">
            <li class="active" data-filter="*">All</li>
            <li data-filter=".europe">Europe</li>
            <li data-filter=".asia">Asia</li>
            <li data-filter=".africa">Africa</li>
            <li data-filter=".south-america">South America</li>
         </ul>
         <div class="four-col with-spacing" id="works-grid">
			 {{#each hosts}}				
            <div class="work-item {{this.continent}}">
               <div class="work-detail">
                  <a href="/hosts/single/{{this.url_name}}">
                     {{#if this.cover_pic}}
                     <img src="../../uploads/{{this.cover_pic}}" alt=""> <!-- Needs to be changed to the correct URL -->
                     {{else}}
                     <img src="/images/placeholder.jpg" alt="">
                     {{/if}}
                  </a>
                  <div class="work-info-alt">
                     <p>{{this.address.city}}, {{this.country}}</p>
                     <h3><a href="#">{{this.facility_name}}</a></h3>
                  </div>
               </div>
            </div>
            {{/each}}
         </div>
      </div>
   </div>
</section>
