<section class="page-title text-dark gradient-bg section-skewed big-padding-bt" data-gradients="#374346,#61c4da">
        <div class="row-parallax-bg">
          <div class="parallax-wrapper">
            <div class="parallax-bg">
              <img src="../../uploads/{{cover_pic}}" alt="">
            </div>
          </div>
          <div class="parallax-overlay"></div>
        </div>
		<div class="centrize">
          <div class="v-center">
            <div class="container">
              <div class="row">
                <div class="col-md-8 col-md-offset-2">
                  <div class="title text-center">
                    <h1>{{facility_name}}</h1>
                    <h3>{{country}}</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section-skewed">
        <div class="container">
          <div class="row">
            <div class="col-md-5 mb-50">
              {{!-- <div class="title">
                <h2 class="mt-0">Scuola di Napoli</h2>
              </div> --}}
              <div class="section-content">
                <p>{{question1}}</p>

            </div>
          </div>
          <div class="col-md-5 col-md-offset-2">
            <div class="project-info">
              <ul>
                <li><strong>Address:</strong>{{address.street}}<br/>{{address.postcode}} {{city}}</li>
                <br/>
                <li><strong>Website:</strong><a href="#">{{website}}</a></li>
              </ul>
            </div>
          </div>
        </div>
    </div>
    </section>
<section class="grey-bg">
        <div class="container">
          <div class="title text-center">
            <h4 class="upper">We are digital thinkers</h4>
            <h2>Creative Team</h2>
          </div>
          <div class="section-content pt-25 pb-25">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="team-member" data-animation="fadeInUp">
                  <div class="team-image">
                    <img src="images/team-1.jpg" alt="">
                  </div>
                  <div class="team-overlay" data-custom-bg="#e42869">
                    <div class="team-info">
                      <h4>Luke Cage</h4><span>Founder & CEO</span>
                      <ul class="team-social">
                        <li><a href="#" target="_blank"><i class="hc-facebook"></i></a>
                        </li>
                        <li><a href="#" target="_blank"><i class="hc-twitter"></i></a>
                        </li>
                        <li><a href="#" target="_blank"><i class="hc-linkedin"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="team-member" data-animation="fadeInUp" data-delay="300">
                  <div class="team-image">
                    <img src="images/team-2.jpg" alt="">
                  </div>
                  <div class="team-overlay" data-custom-bg="#e42869">
                    <div class="team-info">
                      <h4>Jessica Jones</h4><span>Product Designer</span>
                      <ul class="team-social">
                        <li><a href="#" target="_blank"><i class="hc-facebook"></i></a>
                        </li>
                        <li><a href="#" target="_blank"><i class="hc-twitter"></i></a>
                        </li>
                        <li><a href="#" target="_blank"><i class="hc-linkedin"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="team-member" data-animation="fadeInUp" data-delay="600">
                  <div class="team-image">
                    <img src="images/team-3.jpg" alt="">
                  </div>
                  <div class="team-overlay" data-custom-bg="#e42869">
                    <div class="team-info">
                      <h4>Matt Murdock</h4><span>Lead Developer</span>
                      <ul class="team-social">
                        <li><a href="#" target="_blank"><i class="hc-facebook"></i></a>
                        </li>
                        <li><a href="#" target="_blank"><i class="hc-twitter"></i></a>
                        </li>
                        <li><a href="#" target="_blank"><i class="hc-linkedin"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="team-member" data-animation="fadeInUp" data-delay="900">
                  <div class="team-image">
                    <img src="images/team-4.jpg" alt="">
                  </div>
                  <div class="team-overlay" data-custom-bg="#e42869">
                    <div class="team-info">
                      <h4>Claire Temple</h4><span>Sales Manager</span>
                      <ul class="team-social">
                        <li><a href="#" target="_blank"><i class="hc-facebook"></i></a>
                        </li>
                        <li><a href="#" target="_blank"><i class="hc-twitter"></i></a>
                        </li>
                        <li><a href="#" target="_blank"><i class="hc-linkedin"></i></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>