<section class="page-title text-dark gradient-bg section-skewed big-padding-bt" data-gradients="#374346,#61c4da">
  <div class="row-parallax-bg">
    <div class="parallax-wrapper">
      <div class="parallax-bg">
        <img src="../../uploads/{{profilepic}}" alt="">
      </div>
    </div>
    <div class="parallax-overlay"></div>
  </div>
  <div class="centrize">
    <div class="v-center">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <div class="title text-center">
              <h1>{{firstname}}</h1>
              <h3>{{country}}</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-skewed pt-50" data-custom-bg="#ffffff">
  <div class="container">
    <div class="row">
      <div class="col-md-7 mb-50">
        <div class="section-content">
          <h2 class="Pacifico">About us</h2>
          <p class="big">{{question1}}</p>          
        </div>
      </div>
      <div class="col-md-3 col-md-offset-2">
        <div class="project-info">
          <ul>
            <li><strong>Start date</strong>{{startdate}}</li>   
            <li><strong>End date</strong>{{enddate}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{{!-- 
<section class="section" data-custom-bg="#ffffff" style="margin-top: -121px; padding-top: 121px; z-index: 9;
  height:800px">
  <div class="container">
    <div class="row">
      <div class="col-md-12 map-side map-right">
        <div id="map" data-lat="{{lat}}" data-long="{{lng}}"></div>
      </div>
    </div>
  </div>
</section>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{key}}"></script> --}}